<!DOCTYPE html>
{% load static %}  <!-- Подключение статических файлов Django -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отображение данных</title>

    <!-- Подключение CSS DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">  <!-- Подключение ваших стилей -->

    <!-- Подключите jQuery (обязательно для DataTables) -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Подключите JavaScript DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
<body>
    <h1 class="header">Данные из БД</h1>

    <!-- Элемент для анимации загрузки -->
    <div id="loading" class="loading">Загрузка данных...</div>


    <!-- Таблица для данных -->
    <table id="data-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ФИО пациента</th>
                <th>Дата рождения</th>
                <th>Идентификатор исследования</th>
                <th>Дата и время исследования</th>
                <th>Модальность исследования</th>
            </tr>
        </thead>
        <tbody>
            {% for study in studies %}
                <tr>
                    <td>{{ study.patient_fio }}</td>
                    <td>{{ study.patient_birthdate }}</td>
                    <td>{{ study.study_uid }}</td>
                    <td>{{ study.study_date }}</td>
                    <td>{{ study.study_modality.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Скрипт для анимации загрузки данных и DataTables -->
    <script>
$(document).ready(function() {
    // Показать анимацию загрузки при инициализации DataTables
    $('#loading').show();

    $('#data-table').DataTable({
        paging: true,
        searching: true,
        ordering: true,
        lengthMenu: [10, 25, 50, 100],
        pageLength: 10,  // Количество записей на одной странице по умолчанию
        language: {
            search: "Поиск:",
            lengthMenu: "Показать _MENU_ записей на странице",
            info: "Показано с _START_ по _END_ из _TOTAL_ записей",
            infoEmpty: "Показано с 0 по 0 из 0 записей",
            zeroRecords: "Записи не найдены",
            infoFiltered: "(фильтр из _MAX_ записей)",
            paginate: {
                first: "Первая",
                previous: "Предыдущая",
                next: "Следующая",
                last: "Последняя"
            }
        },
        // Обработка события инициализации DataTables
        "initComplete": function(settings, json) {
            // Скрыть анимацию загрузки после загрузки данных
            $('#loading').hide();
        }
    });
});

    </script>
</body>
</html>
