<!-- studies_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список исследований</title>
</head>
<body>
    <h1>Список исследований</h1>
    <table>
        <thead>
            <tr>
                <th>ФИО пациента</th>
                <th>Дата рождения</th>
                <th>Идентификатор исследования</th>
                <th>Дата и время исследования</th>
                <th>Модальность исследования</th>
            </tr>
        </thead>
        <tbody>
            {% for study in studies %}
                <tr>
                    <td>{{ study.patient_fio }}</td>
                    <td>{{ study.patient_birthdate }}</td>
                    <td>{{ study.study_uid }}</td>
                    <td>{{ study.study_date }}</td>
                    <td>{{ study.study_modality.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>